.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.stardb-app .row {
  margin-bottom: 1rem;
}

.stardb-app_login {
  margin: 24px 0;
  text-align: center;
  font-size: 28px;
  color: #d05d26;
  font-weight: bold;
}
